.embed-container {
    margin: 1.5em 0;
}

.embed-container.youtube {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-container.generic {
    padding: 1em;
    background: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
}

.embed-container.generic a {
    word-break: break-all;
}

.embed-caption {
    margin-top: 0.5em;
    font-size: 0.9em;
    color: #666;
    text-align: center;
    font-style: italic;
}
